@{
    ViewBag.Title = "Chats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    if (Model.privilege[0] != "worker")
    {
        <h2 class="text-success">All chats</h2>

        <div class="container">

            @foreach (var item in Model.my_chats)
            {
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-size: 120%;">

                        @for (int i = 0; i < item.participants.Count; i++)
                        {
                            if (Model.username != item.participants[i])
                            {<p style="font-size: 120%;">@item.participants[i]</p>}
                    }

                        <a class="btn btn-primary" href="/Chat/ShowChat/@item._id" role="button">Open Chat</a>
                        <a class="btn btn-danger" href="/Chat/DeleteChat/@item._id" role="button">Delete Chat</a>
                    </div>
                    <div class="panel-body">
                        <span>Chat ID: @item._id</span>
                        <span class="pull-right">Created on: @Convert.ToDateTime(item.created_date).ToString("dd/MM/yyyy hh:mm:ss")</span>
                    </div>
                </div>
            }

        </div>
    }
    else
    {
        <h2 class="text-success">My Chats</h2>

        <div class="container">

            @foreach (var item in Model.my_chats)
            {
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-size: 120%;">

                        @for (int i = 0; i < item.participants.Count; i++)
                        {
                            if (Model.username != item.participants[i])
                            {<p style="font-size: 120%;">@item.participants[i]</p>}
                    }

                        <a class="btn btn-primary" href="/Chat/ShowChat/@item._id" role="button">Open Chat</a>
                        <a class="btn btn-danger" href="/Chat/DeleteChat/@item._id" role="button">Delete Chat</a>
                    </div>
                    <div class="panel-body">
                        <span class="pull-right">Created on: @Convert.ToDateTime(item.created_date).ToString("dd/MM/yyyy hh:mm:ss")</span>
                    </div>
                </div>
            }

        </div>

    }
}