
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Request.Url.Segments[3];
}

<h2>Messages</h2>
@if (Model != null)
{
    var current = "";
    var prev = "";

    <div class="container">
        <div class="panel panel-success">
            @foreach (var item in Model)
            {

                current = item.created_by;
                if (current != prev)
                {

                    <div class="panel-heading" style="font-size: 120%;">@item.created_by:</div>
                    <div class="panel-body well-sm" style="max-height: 40px;"><span>@item.content</span><span class="pull-right" style="font-size: 80%;">@Convert.ToDateTime(item.created_date).ToString("dd/MM/yyyy hh:mm:ss")</span></div>

                }

                else
                {
                    <div class="panel-body well-sm" style="max-height: 40px;"><span>@item.content</span><span class="pull-right" style="font-size: 80%;">@Convert.ToDateTime(item.created_date).ToString("dd/MM/yyyy hh:mm:ss")</span></div>


                }
                prev = current;

            }
        </div>
    </div>



    using (Html.BeginForm("SendMessage", "Chat"))
    {
        <input type="hidden" name="chat_id" value="@id">
        <input type="text" name="reply" title="Input text to send" style="height:35px" />
        <input type="submit" value="Send" class="btn btn-primary" />
    }
}